menuconfig MANAGER_WM
    bool "Wireless Manager (WM)"
    default y
    help
        Enable Wireless Manager (WM)

    config MANAGER_WM_CFG
        depends on MANAGER_WM
        string "WM Startup configuration"
        default "wm;true;needs_plan_b=true"
        help
            Wireless Manager startup configuration

    config MANAGER_WM_L2UF_KICK
        depends on MANAGER_WM
        bool "Enable processing L2UF for stale client kicks"
        default y
        help
            When clients roam between APs, they are not
            guaranteed to properly deauthenticate themselves
            from the old AP they are roaming away from. This
            is both due to bugs, or actually legit cases,
            like going out of range while in powersave.

            Most (if not all) wireless drivers have some
            countermeasures to purge stale links to
            stations - typically inactivity timers, or
            powersave out-of-sync detection.

            Some also implement an immediate purge when an
            L2UF packet is attempted to be transmitted on an
            interface with an SA matching an existing
            station on that BSS.

            Set to 'y' for platforms where drivers do not
            support this L2UF kickout behavior.

            It is safe to say 'y' even on platforms where
            drivers support it, at the expense of wasting
            a bit of CPU and memory to handle pcap captures.

            To test whether a platform supports it already,
            one can take two clients, set the same MAC address
            on both, and instruct them to connect to two
            different radios on the same OpenSync AP.
            They should eventually re-connect in a ping-pong
            fashion: one will cause the other to disconnect,
            and vice-versa.
