menuconfig ACCEL_FLOW_EVICT_MESSAGE
    bool "Enables accel flow eviction messages"
    default y
	depends on MANAGER_FSM
    help
        Enable custom packet called flush which is used to sent acceleration eviction notices to opensync nodes.

