menuconfig MANAGER_CM
    bool "Connectivity Manager (CM)"
    default y
    help
        CM2 (Cloud Manager) is responsible for cloud connectivity and WiFi
        backhaul onboarding

if MANAGER_CM
    config MANAGER_CM_CFG
        string "Startup options"
        default "cm;true;needs_plan_b=true"
        help
            Manager startup options

    config CM2_USE_WAN_LINK_MANAGEMENT
        bool "Use CM to manage WAN links"
        default y
        help
            Use Wifi_Master_State table to manage WAN links

    config CM2_USE_DRYRUN_ON_GRE
        bool "Use udhcpc dryrun on gre interfaces"
        default y
        help
            Run udhcpc dryrun on gre interfaces during link examination

    config CM2_USE_CUSTOM_UDHCPC
        bool "Use patched udhcpc for link selection"
        default y
        help
            Leverage non-standard udhcpc patches in order to improve link selection

    config CM2_USE_UDHCPC_VENDOR_CLASSID
       bool "Use udhcpc with vendor classid"
       default y
       help
          Enable vendor classId option in udhcpc during link examination"

    config CM2_MTU_ON_GRE
        int "MTU on GRE interface"
        default 1500
        help
            Define mtu on gre interface for WiFi sta interfaces

    config CM2_ETHERNET_SHORT_DELAY
        int "short ethernet delay"
        default 5
        help
            short delay before adding ethernet into br-home bridge to protect loop creation

    config CM2_ETHERNET_LONG_DELAY
        int "long ethernet delay"
        default 128
        help
            long delay before adding ethernet into br-home bridge used during boot the platform to protect loop creation

    config CM2_OVS_MIN_BACKOFF
        int "Minimum OVS backoff"
        default 30
        help
            Minimum value to randomly backoff for the next OVS connection to be established

    config CM2_OVS_MAX_BACKOFF
        int "Maximum OVS backoff"
        default 60
        help
            Maximum value to randomly backoff for the next OVS connection to be established

    config CM2_OVS_SHORT_BACKOFF
        int "Short OVS backoff"
        default 8
        help
           Deafult short backoff time for the next OVS connection to be established

    menuconfig CM2_USE_WDT
        bool "Use WDT module"
        select CM2_USE_STABILITY_CHECK
        default y

        if CM2_USE_WDT
            comment "WDT configuration"

        config CM2_WDT_INTERVAL
            int "Interval of WDT ping"
            default 10
            help
                Watchdog ping interval
        endif

    menuconfig CM2_USE_TCPDUMP
        bool "Use tcpdump"
        select CM2_USE_STABILITY_CHECK
        default y
        help
            Run tcpdump on main link when connection problem is detected

        if CM2_USE_TCPDUMP
            comment "Tcpdump configuration"

            config CM2_TCPDUMP_START_STOP_DAEMON_PATH
                string "start-stop-daemon path"
                depends on CM2_USE_TCPDUMP
                default "/sbin/start-stop-daemon"
                help
                    Path to start-stop-daemon

            config CM2_TCPDUMP_PATH
                string "tcpdump path"
                default "/usr/sbin/tcpdump"
                help
                    Path to tcpdump application

            config CM2_TCPDUMP_PREFIX_FILE
                string "tcpdump prefix file"
                default "tcpdump"
                help
                    Prefix to tcpdump pcap file

            config CM2_TCPDUMP_TIMEOUT_PARAM
                string "tcpdump timeout param"
                default "300"
                help
                    Close tcpdump after timeout in sec

            config CM2_TCPDUMP_COUNT_PARAM
                string "tcpdump count param"
                default "5000"
                help
                    Close tcpdump after receiving count packets

            config CM2_TCPDUMP_SNAPLEN_PARAM
                string "tcpdump count param"
                default "128"
                help
                    tcpdump snarf snaplen bytes of data from each packet

        endif

    config CM2_CLOUD_FATAL_THRESHOLD
            int "Threshold of resolving tries and amount of new controller address used"
            default 0
            help
                Threshold of resolving tries and new tries of connection to the controller without success.
                The reason of usage is protection against resolving library hanged or ovsdb-server.
                Value 0 means threshold disabled

    menuconfig CM2_USE_STABILITY_CHECK
        bool "Use stability checking"
        default y
        help
            Run stability checking to verify quality of established connection

        if CM2_USE_STABILITY_CHECK
            comment "Stability configuration"

        config CM2_STABILITY_INTERVAL
            int "Interval of stability check trigger"
            default 10
            help
                Define interval in sec to trigger stability check process

        config CM2_STABILITY_THRESH_LINK
            int "Threshold of link restart"
            default 2
            help
                Threshold of subsequent link failures to try fix the link

        config CM2_STABILITY_THRESH_FATAL
            int "Threshold of OpenSync restart"
            default 8
            help
                Threshold of subsequent check failures to restart OpenSync

        config CM2_STABILITY_THRESH_ROUTER
            int "Threshold of restore connection"
            default 4
            help
                Threshold of subsequent router check failures to trigger restore connection

        config CM2_STABILITY_THRESH_INTERNET
            int "Threshold of restore Internet"
            default 6
            help
                Threshold of subsequent Internet check failures to trigger restore Internet

        config CM2_STABILITY_THRESH_VTAG
            int "Threshold of remove VTAG usage"
            default 10
            help
                Threshold of subsequent router check failures to rollback to previous VTAG settings

        config CM2_STABILITY_THRESH_CPU
            string "Threshold of CPU to trigger stability checking"
            default "0.70"
            help
                Threshold of loadavg (number of currently executing kernel scheduling entities) to allow trigger stability checking

        config CM2_STABILITY_THRESH_TCPDUMP
            int "Threshold of tcpdump running"
            default 4
            help
               Threshold of subsequent router check failures to trigger collect data on main interface

        config CM2_STABILITY_USE_RESTORE_SWITCH_CFG
            bool "Use restoring switch configuration"
            default n
            help
               Some devices require restoring switch configuration when problems with connectivity is detected

        endif

    config CM2_USE_EXTRA_DEBUGS
        bool "Use additional debug logs"
        default y
        help
           Enable additional debug logs"
endif
