menuconfig MANAGER_FCM
    bool "Flow Collection Manager (FCM)"
    default y
    help
        Enable Flow Collection Manager (FCM)

    config MANAGER_FCM_CFG
        depends on MANAGER_FCM
        string "FCM Startup configuration"
        default "fcm;true;always_restart=true;restart_delay=-1"
        help
            Flow Collection Manager startup configuration

    config FCM_ZMQ_IMC
        depends on MANAGER_FCM
        bool "Use ZMQ as IMC"
        default n
        help
            Default FSM to FCM communication through ZMQ, Disabling switches
            to Unix domain socket

    config FCM_MEM_MAX
        depends on MANAGER_FCM
        int "High memory usage threshold in MB for FCM"
        default 100
        help
            FCM will be restarted once this threshold is reached.
            This value can be overridden through the ovsdb Node_Config table.
