menuconfig MANAGER_SM
    bool "Statistics Manager (SM)"
    default y
    select MANAGER_QM
    help
        Enable Statistics Manager (SM)

    config MANAGER_SM_CFG
        depends on MANAGER_SM
        string "SM Startup configuration"
        default "sm;true;max_memory=20000"
        help
            Statistics Manager startup configuration

    config SM_LATENCY_STATS
        depends on MANAGER_SM
        bool "Latency statistics"
        default y
        help
            Support for latency statistics for SM.

            Remember to select an adequate implementation backend.

    choice
        prompt "Latency stats implementation backend"
        depends on MANAGER_SM && SM_LATENCY_STATS
        default SM_LATENCY_IMPL_NONE
        config SM_LATENCY_IMPL_NONE
            bool "none"
            help
                This is a stub latency backend implementation.
                It does nothing. Just satisfying build time and
                linking mechanics.

                This isn't all that useful except for development and
                testing of core logic that ingests configuration and
                to check plumbing.

                It makes little sense in enabling SM_LATENCY_STATS
                with SM_LATENCY_IMPL_NONE for deployment.
        config SM_LATENCY_IMPL_EPPING
            bool "epping"
            help
                This uses XDP and epping to passively monitor
                latency of running flows by performing DPI
                on their metadata to infer RTT.

                Requires fairly recent Linux kernel to run.

                May interact poorly with HW and SW datapath accelerator.
    endchoice

    config SM_CAPACITY_QUEUE_STATS
        depends on MANAGER_SM
        bool "Capacity Queue Stats"
        default n
        help
            Enable capacity queue statistics

            Note: This may require support from platform modules.

    config SM_BACKEND_RADIUS_STATS_HAPD
        depends on MANAGER_SM
        bool "hostapd backend for radius statistics"
        default n
        help
            Use hostapd backend for radius stats SM module.

    config SM_BACKEND_RADIUS_STATS_NULL
        depends on MANAGER_SM
        bool "dummy/null backend for radius statistics"
        default y if !SM_BACKEND_RADIUS_STATS_HAPD
        help
            Use dummy implementation for radius stats SM module.

    config SM_BACKEND_CLIENT_AUTH_FAILS_HAPD
        depends on MANAGER_SM
        bool "hostapd backend for client auth fails stats"
        default n
        help
            Use hostapd backend for radius stats SM module.

    config SM_BACKEND_CLIENT_AUTH_FAILS_NULL
        depends on MANAGER_SM
        bool "dummy/null backend for radius statistics"
        default y if !SM_BACKEND_CLIENT_AUTH_FAILS_HAPD
        help
            Use hostapd backend for client auth fails SM module.

    config SM_BACKEND_HAPD_CLIENTS_AUTH_FAILS_PER_VAP_LIMIT
        depends on MANAGER_SM
        int "Clients auth fails limit per VAP per report"
        default 256
        help
            An upper bound of unique clients' authentication failure counters
            stored per VAP per one reporting interval.

            This value should be always greater than or equal to 2 and be a
            power of 2.

    config SM_UPLINK_STATS
        depends on MANAGER_SM && MANAGER_CM
        bool "Stats about uplink usage in Client report"
        default n
        help
            Enable uplink type info in Client report
