menuconfig MANAGER_FSM
    bool "Flow Service Manager (FSM)"
    default n
    help
        Enable Flow Service Manager (FSM)

    config MANAGER_FSM_CFG
        depends on MANAGER_FSM
        string "FSM Startup configuration"
        default "fsm;true;always_restart=true;restart_delay=-1"
        help
            Flow Service Manager startup configuration

    config FSM_PCAP_SNAPLEN
        depends on MANAGER_FSM
        int "Set snapshot len"
        default 0
        help
            Set a custom snapshot length.

            If unsure, use 0 (use libpcap default - 65535).
