menuconfig MANAGER_FSM
    bool "Flow Service Manager (FSM)"
    default y
    help
        Enable Flow Service Manager (FSM)

    config MANAGER_FSM_CFG
        depends on MANAGER_FSM
        string "FSM Startup configuration"
        default "fsm;true;always_restart=true;restart_delay=-1"
        help
            Flow Service Manager startup configuration

    config FSM_PCAP_SNAPLEN
        depends on MANAGER_FSM
        int "Set snapshot len"
        default 0
        help
            Set a custom snapshot length.

            If unsure, use 0 (use libpcap default - 65535).

    config FSM_ZMQ_IMC
        depends on MANAGER_FSM
        bool "Use ZMQ as IMC"
        default n
        help
            Default FSM to FCM communication through ZMQ, Disabling switches
            to Unix domain socket

    config FSM_DPI_DNS
        depends on MANAGER_FSM
        bool "Use DPI_DNS as dns module"
        default y
        help
            DPI_DNS plugin to process A, AAAA and Type 65 DNS exchanges

    config FSM_MEM_MAX
        depends on MANAGER_FSM
        int "High memory usage threshold in MB for FSM"
        default 160
        help
            FSM will be restarted once this threshold is reached.
            This value can be overridden through the ovsdb Node_Config table.
