menuconfig MANAGER_NM
    bool "Network Manager (NM)"
    default y
    help
        Enable Network Manager (NM)

    config MANAGER_NM_CFG
        depends on MANAGER_NM
        string "NM Startup configuration"
        default "nm;true;needs_plan_b=true;max_memory=20000"
        help
            Network Manager startup configuration

    config MANAGER_NM_MCAST_EXCEPTIONS
        depends on MANAGER_NM
        bool "NM Configure OVS mcast exceptions"
        default n
        help
            Network Manager configures OVS multicast exceptions when Snooping enabled

    config MANAGER_NM_ROUTE_BASE_METRIC
        depends on MANAGER_NM
        int "Routes base metric"
        default 100

        help
            For any route metric in the Wifi_Route_Config table that has an unset
            value, calculate the metric value by using the interface type and the
            the value of this option.

            A metric modifier is calculated from the interface type in this
            order of priority:
                - bridge, eth, vlan
                - gre
                - tap
                - wifi
                - PPPoE
                - LTE
                - Everything else

            The metric is then calculated by adding the modifier to the
            MANAGER_NM_ROUTE_BASE_METRIC value.

            This ensures proper WAN priority across different interface types.

    config MANAGER_NM_PROBE_ETH_CLIENTS_PERIOD_DEFAULT
        depends on MANAGER_NM
        int "Default probing period"
        default 150
        help
            Default probing period, in seconds.
