config OSP_L2SWITCH_NULL
    bool "Null"

    help
        Use a dummy L2 switch implementation

config OSP_L2SWITCH_SWCONFIG
    bool "swconfig"

    help
        Use the swconfig tool for configuring the internal L2 switch
