config OSP_SEC_KEY_DEFAULT
    bool "Reference Rudimentary Key Generation"
    help
        Provides a rudimentary reference implementation of key generation 
        using some device ID and OpenSSL. You are strongly encouraged to
        provide your own private implementation of key generation. 

