menu "libff: Feature Flag (FF) configuration"
    config FF_ACCESS_PATH
        string "Path for feature flags access provider"
        default "$(INSTALL_PREFIX)/etc/ff"
        help
            Files from this path will be checked by access provider to consider flags as enabled.
            To set flag as ENABLED by this provider create a corresponding "flag_name" file in that path.
endmenu
