menuconfig MANAGER_PWM
    bool "PW Manager (PWM)"
    default n
    help
        PWM (Public Wifi Manager) manages the broadcast
        of a public SSID on top of all radios

    config MANAGER_PWM_CFG
        depends on MANAGER_PWM
        string "PWM Startup configuration"
        default "pwm;true;needs_plan_b=true"
        help
            PW Manager startup configuration

    config DHCP_RELAY_OPTIONS_CONF
        depends on MANAGER_PWM
        string "PWM DHCP relay configuration"
        default "/tmp/dhcp_relay.conf"
        help
            PW Manager DHCP relay configuration

    config PWM_WAN_IF_NAME
        depends on MANAGER_PWM
        string "PWM WAN ifname configuration"
        default "br-wan"
        help
            PW Manager WAN ifname  configuration

    config PWM_BR_IF_NAME
        depends on MANAGER_PWM
        string "PWM bridge ifname configuration"
        default "br-pw"
        help
            PW Manager bridge ifname  configuration

    config PWM_ENTERPRISE_ID
        depends on MANAGER_PWM
        int "PWM entreprise id"
        default 9914
        help
            PW Manager entreprise id configuration

