config OSN_BACKEND_IGMP_NULL
    bool "Null"

    help
        Use dummy implementation of IGMP networking.

config OSN_BACKEND_IGMP_LINUX
    bool "Linux"
    select OSN_LINUX_ENABLED
    select OSN_LINUX_IGMP
    help
        Use the Linux IGMP backend provided by OpenSync

