config OSN_BACKEND_IPV6_RADV_NULL
    bool "Null"

    help
        Use dummy implementation of the IPv6 Router Advertisement server.

config OSN_BACKEND_IPV6_RADV_DNSMASQ6
    bool "dnsmasq6"
    select OSN_LINUX_ENABLED
    select OSN_DNSMASQ6
    help
        Use the dnsmasq backend provided by OpenSync

