config OSN_BACKEND_PPPOE_NULL
    bool "Null"
    help
        Use dummy PPPoE implementation for platforms that do not support it.

config OSN_BACKEND_PPPOE_LINUX
    bool "Linux"
    select OSN_LINUX_ENABLED
    select OSN_LINUX_PPPOE
    help
        Use the Linux PPPoE implementation that uses the pppd daemon and the
        rp-pppoe plug-in.

config OSN_BACKEND_PPPOE_NAME_TEMPLATE
    string "PPPoE interface naming template"
    default "ppp-@P"
    help
        Customize the PPPoE interface naming with pre-defined variables.

        Pre-defined variables:
        @P represents the parent interface name
        @I represents the interface index

        The default is set to ppp-@P so the naming is ppp-eth1 for example.
