config OSN_BACKEND_ROUTEV6_NULL
    bool "Null"

    help
        Use dummy implementation of IPv6 route control

config OSN_BACKEND_ROUTEV6_LINUX
    bool "Linux"
    select OSN_LINUX_ENABLED
    help
        Use the Linux route control backend provided by OpenSync
