config OSN_BACKEND_CELL_NULL
    bool "Null"
    help
        Use dummy CELL implementation for platforms where CELL functionality is
        not desired or not supported.

config OSN_BACKEND_CELL_LINUX
    bool "Linux"
    select OSN_LINUX_ENABLED
    select OSN_LINUX_LTE
    help
        Use the Linux cellular implementation that uses the 3rdparty apps to initialize interfaces.
