menuconfig MANAGER_OWM
    bool "Opensync Wireless / One Wifi Manager (OWM)"
    default y
    help
        This process is intended to handle all Wireless
        related operations in Opensync - apply
        configurations, report states, steering clients,
        collect data (statistics, CSI), etc.

        Otherwise, if unsure, select 'y'.

    config MANAGER_OWM_CFG
        depends on MANAGER_OWM
        string "Startup configuration"
        default "owm;true;needs_plan_b=false;max_memory=100000"
        help
            Opensync Wireless Manager / One Wifi Manager
            startup configuration for DM. This provides the
            base parameters for daemon process supervision.
