#
# Core SEC modules
#
source "src/lib/osp/kconfig/Kconfig.osp_sec.backend"

#
# vendor/platform SEC modules
#
osource "platform/*/kconfig/Kconfig.osp_sec.backend"
osource "vendor/*/kconfig/Kconfig.osp_sec.backend"

