mainmenu "OpenSync Configuration"

menu "Common"
    menu "Managers"
        source "kconfig/Kconfig.managers"
    endmenu

    menu "Services"
        source "kconfig/Kconfig.services"
    endmenu

    menu "OpenSync API"
        menu "Networking (OSN)"
            choice
                prompt "Interface L2 control"
                default OSN_BACKEND_NETIF_LINUX
                source "kconfig/Kconfig.osn.netif_backend"
            endchoice

            choice
                prompt "IPv4 networking"
                default OSN_BACKEND_IPV4_LINUX
                source "kconfig/Kconfig.osn.ipv4_backend"
            endchoice

            choice
                prompt "IPv4 routing (status reporting)"
                default OSN_BACKEND_ROUTEV4_LINUX
                source "kconfig/Kconfig.osn.routev4_backend"
            endchoice

            choice
                prompt "DHCPv4 client"
                default OSN_BACKEND_DHCPV4_CLIENT_UDHCP
                source "kconfig/Kconfig.osn.dhcpv4_client_backend"
            endchoice

            choice
                prompt "DHCPv4 server"
                default OSN_BACKEND_DHCPV4_SERVER_DNSMASQ
                source "kconfig/Kconfig.osn.dhcpv4_server_backend"
            endchoice

            choice
                prompt "UPnP"
                default OSN_BACKEND_UPNP_MINIUPNPD
                source "kconfig/Kconfig.osn.upnp_backend"
            endchoice

            choice
                prompt "IPv6 networking"
                default OSN_BACKEND_IPV6_LINUX
                source "kconfig/Kconfig.osn.ipv6_backend"
            endchoice

            choice
                prompt "DHCPv6 client"
                default OSN_BACKEND_DHCPV6_CLIENT_ODHCP6
                source "kconfig/Kconfig.osn.dhcpv6_client_backend"
            endchoice

            choice
                prompt "DHCPv6 server"
                default OSN_BACKEND_DHCPV6_SERVER_DNSMASQ6
                source "kconfig/Kconfig.osn.dhcpv6_server_backend"
            endchoice

            choice
                prompt "IPv6 Router Advertisement"
                default OSN_BACKEND_IPV6_RADV_DNSMASQ6
                source "kconfig/Kconfig.osn.ipv6_radv_backend"
            endchoice

            choice
                prompt "PPPoE"
                default OSN_BACKEND_PPPOE_LINUX
                source "kconfig/Kconfig.osn.pppoe_backend"
            endchoice

            choice
                prompt "VLAN"
                default OSN_BACKEND_VLAN_LINUX
                source "kconfig/Kconfig.osn.vlan_backend"
            endchoice

            choice
                prompt "QoS"
                default OSN_BACKEND_QOS_LINUX
                source "kconfig/Kconfig.osn.qos_backend"
            endchoice

            choice
                prompt "NFLOG"
                default OSN_BACKEND_NFLOG_LINUX
                source "kconfig/Kconfig.osn.nflog_backend"
            endchoice

            choice
                prompt "LTE"
                default OSN_BACKEND_LTE_LINUX
                source "kconfig/Kconfig.osn.lte_backend"
            endchoice

            menu "Firewall"
                choice
                    prompt "Firewall implementation"
                    default OSN_BACKEND_FW_IPTABLES_FULL
                    source "kconfig/Kconfig.osn.fw_backend"
                endchoice
                source "kconfig/Kconfig.osn.fw"
                choice
                    prompt "ipset implementation"
                    default OSN_BACKEND_IPSET_LINUX
                    source "kconfig/Kconfig.osn.ipset_backend"
                endchoice
            endmenu

            choice
                prompt "MAP-T"
                default OSN_BACKEND_MAPT_NULL
                source "kconfig/Kconfig.osn.mapt_backend"
            endchoice

            source "kconfig/Kconfig.osn"
        endmenu

        menu "Platform (OSP)"
            comment "Unit (OSP unit)"
            choice
                prompt "OSP Unit Backend"
                source "kconfig/Kconfig.osp_unit.backend"
            endchoice

            comment "Persistent Storage (OSP_PS)"
            choice
                prompt "Persistent Storage Backend"
                source "kconfig/Kconfig.osp_ps.backend"
            endchoice
            source "kconfig/Kconfig.osp_ps"

            comment "Reboot and Related Features (OSP_REBOOT)"
            choice
                prompt "Reboot Backend"
                source "kconfig/Kconfig.osp_reboot.backend"
            endchoice
            source "kconfig/Kconfig.osp_reboot"

            comment "OSP LED"
            source "kconfig/Kconfig.osp_led"

            menu "Layer 2 Switch Control"
                choice
                    prompt "L2Switch backend"
                    source "kconfig/Kconfig.osp_l2switch.backend"
                endchoice
                source "kconfig/Kconfig.osp_l2switch"
            endmenu

            comment "Object Management (OSP_OBJM)"
            choice
                prompt "Object Management Backend"
                source "kconfig/Kconfig.osp_objm.backend"
            endchoice
            source "kconfig/Kconfig.osp_objm"

            comment "OSP Power"
            source "kconfig/Kconfig.osp_power.backend"

        endmenu
    endmenu

    menu "OVSDB"
        orsource "../ovsdb/Kconfig"
    endmenu

    menu "Libs"
        rsource "Kconfig.libs"
    endmenu

    menu "Tools"
        rsource "Kconfig.tools"
    endmenu

    menu "Misc"
        orsource "../src/lib/hostap/kconfig/Kconfig"

        config REMAP_LEGACY
            bool "Remap legacy install prefix path"
            help
                Move all files from legacy location to new install prefix path
                Also replace all paths in installed scripts
    endmenu

    menu "Target"
        orsource "../src/lib/target/kconfig/Kconfig"
    endmenu

    config INCLUDE
        string "Include base config"

    config INSTALL_PREFIX
        string "Install prefix path"
        default "$(INSTALL_PREFIX)"

    config TARGET_NAME
        string "Device Descriptive Name"

    config TARGET_MODEL
        string "Device Model Name"

endmenu

menu "Service Provider Configuration"
    orsource "../service-provider/*/kconfig/Kconfig.service-provider"
endmenu

menu "Platform Configuration"
    orsource "Kconfig.platform"
    orsource "../platform/*/kconfig/Kconfig.platform"
endmenu

menu "Vendor Configuration"
    choice VENDOR
        prompt "Vendor Selection"
        orsource "Kconfig.vendor"
        orsource "../vendor/*/kconfig/Kconfig.vendor"
    endchoice
    orsource "../vendor/*/kconfig/Kconfig"
endmenu

menu "3rdparty Configuration"
    orsource "../3rdparty/*/kconfig/Kconfig.3rdparty"
endmenu

orsource "Kconfig.hidden"
