
orsource "../src/lib/hostap/kconfig/Kconfig"
orsource "../src/wpd/kconfig/Kconfig"

config REMAP_LEGACY
    bool "Remap legacy install prefix path"
    help
        Move all files from legacy location to new install prefix path
        Also replace all paths in installed scripts

config IN_PLACE_UPGRADE
    bool "Support in-place upgrade of OpenSync"
    default n
    help
        Build an installable OpenSync package and
        modify the boot process to allow for in-place
        upgrade of OpenSync

config RUN_IN_LXC
    bool "Run in LXC container"
    default n
    help
        Run OpenSync in an LXC container

config MANAGER_WATCHDOG_TIMEOUT_SEC
    int "Manager watchdog timeout in seconds"
    default 90
    help
        Timeout for the manager watchdog that monitors the main event loop
        of a manager process. If the main loop does not process events within
        this timeout period, the watchdog will crash the process in order to
        prevent infinite loops or blocking calls.
        Runs on all managers, except ones that are expected to run system
        commands for an extended period of time like Upgrade Manager (UM).
        Set to 0 to disable the feature on all managers.
