menuconfig SERVICE_HEALTHCHECK
    bool "Healthcheck Service"
    default y
    help
        A set of scripts that check the health of the system and
        reboot the system in case of repeated errors or fatal failure

