#
# include core modules
#
source "src/lib/osp/kconfig/Kconfig.osp_power.backend"

#
# include platform/vendor modules
#
osource "platform/*/kconfig/Kconfig.osp_power.backend"
osource "vendor/*/kconfig/Kconfig.osp_power.backend"
