#
# OpenSync core platform OSP Bluetooth backend
#
source "src/lib/osp/kconfig/Kconfig.osp_ble.backend"

#
# Platform/vendor OSP Bluetooth backends
#
osource "platform/*/kconfig/Kconfig.osp_ble.backend"
osource "vendor/*/kconfig/Kconfig.osp_ble.backend"
