source "src/lib/evx/kconfig/Kconfig.libs"
source "src/lib/neigh_table/kconfig/Kconfig.libs"
source "src/lib/dns_cache/kconfig/Kconfig.libs"
source "src/lib/gatekeeper_msg/kconfig/Kconfig.libs"
source "src/lib/inet/kconfig/Kconfig.libs"
source "src/lib/log/kconfig/Kconfig.libs"
source "src/lib/mdnsd/kconfig/Kconfig.libs"
source "src/lib/gatekeeper_cache/kconfig/Kconfig.libs"
source "src/lib/gatekeeper_plugin/kconfig/Kconfig.libs"
source "src/lib/dhcp_relay/kconfig/Kconfig.libs"
source "src/lib/fsm_dpi_sec_portmap/kconfig/Kconfig.libs"
source "src/lib/imc/kconfig/Kconfig.libs"
source "src/lib/network_zone/kconfig/Kconfig.libs"
source "src/lib/we_dpi/kconfig/Kconfig.libs"
source "src/lib/walleye/kconfig/Kconfig.libs"
source "src/lib/rts/kconfig/Kconfig.libs"
source "src/lib/nfe/kconfig/Kconfig.libs"
source "src/lib/osw/kconfig/Kconfig.libs"
source "src/lib/ow/kconfig/Kconfig.libs"
source "src/lib/data_report_tags/kconfig/Kconfig.libs"
source "src/lib/ff/kconfig/Kconfig.libs"
source "src/lib/accel_evict_msg/kconfig/Kconfig.libs"
source "src/lib/dpi_intf/kconfig/Kconfig.libs"
source "src/lib/osbus/kconfig/Kconfig.libs"
source "src/lib/ustack/kconfig/Kconfig.libs"
source "src/lib/nf_utils/kconfig/Kconfig.libs"
source "src/lib/fsm_policy/kconfig/Kconfig.libs"
source "src/lib/fsm_utils/kconfig/Kconfig.libs"
source "src/lib/otbr_cli/kconfig/Kconfig.libs"
source "src/lib/revssh/kconfig/Kconfig.libs"

osource "platform/*/kconfig/Kconfig.libs"
osource "vendor/*/kconfig/Kconfig.libs"
