#
# OpenSync core network LTE modem backend
#
source "src/lib/osn/kconfig/Kconfig.osn.lte_modem_backend"

#
# Platform/vendor LTE backends
#
osource "platform/*/kconfig/Kconfig.osn.lte_modem_backend"
osource "vendor/*/kconfig/Kconfig.osn.lte_modem_backend"
