#
# OpenSync core network CELL backend
#
source "src/lib/osn/kconfig/Kconfig.osn.cell_backend"

#
# Platform/vendor CELL backends
#
osource "platform/*/kconfig/Kconfig.osn.cell_backend"
osource "vendor/*/kconfig/Kconfig.osn.cell_backend"

