#
# OpenSync core network IGMP backend
#
source "src/lib/osn/kconfig/Kconfig.osn.igmp_backend"

#
# Platform/vendor IGMP backends
#
osource "platform/*/kconfig/Kconfig.osn.igmp_backend"
osource "vendor/*/kconfig/Kconfig.osn.igmp_backend"

