#
# OpenSync core MAP-T backends
#
source "src/lib/osn/kconfig/Kconfig.osn.mapt_backend"

#
# Platform/vendor MAP-T backends
#
osource "platform/*/kconfig/Kconfig.osn.mapt_backend"
osource "vendor/*/kconfig/Kconfig.osn.mapt_backend"
