comment "Core Managers"

#
# OpenSync Core Modules
#
source "src/dm/kconfig/Kconfig.managers"
source "src/cm2/kconfig/Kconfig.managers"
source "src/wano/kconfig/Kconfig.managers"
source "src/nm2/kconfig/Kconfig.managers"
source "src/wm2/kconfig/Kconfig.managers"
source "src/sm/kconfig/Kconfig.managers"
source "src/bm/kconfig/Kconfig.managers"
source "src/um/kconfig/Kconfig.managers"
source "src/pm/kconfig/Kconfig.managers"
source "src/lm/kconfig/Kconfig.managers"
source "src/om/kconfig/Kconfig.managers"
source "src/qm/kconfig/Kconfig.managers"
source "src/fsm/kconfig/Kconfig.managers"
source "src/fcm/kconfig/Kconfig.managers"
source "src/qosm/kconfig/Kconfig.managers"
source "src/nfm/kconfig/Kconfig.managers"
source "src/maptm/kconfig/Kconfig.managers"
source "src/xm/kconfig/Kconfig.managers"
source "src/cpm/kconfig/Kconfig.managers"
source "src/hello_world/kconfig/Kconfig.managers"

#
# Include platform/vendor managers
#
osource "platform/*/kconfig/Kconfig.managers"
osource "vendor/*/kconfig/Kconfig.managers"
