#
# OpenSync core network NFLOG backend
#
source "src/lib/osn/kconfig/Kconfig.osn.nflog_backend"

#
# Platform/vendor NFLOG backends
#
osource "platform/*/kconfig/Kconfig.osn.nflog_backend"
osource "vendor/*/kconfig/Kconfig.osn.nflog_backend"

