#
# OpenSync core DHCPv4 server backend
#
source "src/lib/osn/kconfig/Kconfig.osn.dhcpv4_server_backend"

#
# Platform/vendor DHCPv4 server backends
#
osource "platform/*/kconfig/Kconfig.osn.dhcpv4_server_backend"
osource "vendor/*/kconfig/Kconfig.osn.dhcpv4_server_backend"
