#
# OpenSync core Adaptive QoS backend
#
source "src/lib/osn/kconfig/Kconfig.osn.adaptive_qos_backend"

#
# Platform/vendor Adaptive QoS backends, if any
#
osource "platform/*/kconfig/Kconfig.osn.adaptive_qos_backend"
osource "vendor/*/kconfig/Kconfig.osn.adaptive_qos_backend"

