#
# OpenSync core network QoS backend
#
source "src/lib/osn/kconfig/Kconfig.osn.qos_backend"

#
# Platform/vendor QoS backends
#
osource "platform/*/kconfig/Kconfig.osn.qos_backend"
osource "vendor/*/kconfig/Kconfig.osn.qos_backend"

