menuconfig MANAGER_WANO
    bool "WAN Orchestrator (WANO)"
    default n
    help
        Enable WAN Orchestrator (WANO)

if MANAGER_WANO
    config MANAGER_WANO_CFG
        string "WANO Startup configuration"
        default "wano;false;needs_plan_b=true"
        help
            WAN Orchestrator startup configuration

    config MANAGER_WANO_IFACE_LIST
        string "WANO Interface List"
        default "eth0"
        help
            Space separated interface list that will be used for WAN probing.

    config MANAGER_WANO_PLUGIN_TIMEOUT
        int "WAN plug-in link probing timeout"
        default 15
        help
            If the WAN plug-in probing doesn't reach a conclusion in the amount
            of time defined by this option, it is terminated and WANO moves to
            the next plug-in in the list.

    config MANAGER_WANO_PLUGIN_IMMEDIATE_TIMEOUT
        int "WAN plug-in immediate timeout"
        default 300
        help
            This is the amount of time that the pipeline is allowed to do an
            immediate restart without using a backoff timer. After the amount of
            seconds defined in this variable, the pipeline will sleep for an
            increasing amout of time before restarting plug-ins.

    config MANAGER_WANO_PLUGIN_DHCPV4
        bool "WANO IPv4 DHCP plugin"
        default n
        help
            WANO DHCPv4 plug-in for interface configuration via the DHCPv4
            protocol.

    config MANAGER_WANO_PLUGIN_DHCPV6
        bool "WANO IPv6 DHCP plugin"
        default n
        help
            WANO DHCPv6 plug-in for interface configuration via the DHCPv6/RA
            protocol.

    config MANAGER_WANO_PLUGIN_STATIC_IPV4
        bool "WANO static IPv4 plugin"
        default n
        help
            Plugin configuring static IP address on WAN interfaces.
            Configuration parameters are read from "wanp" key-value OPS, here
            is the list of parameters:
            "static-ipv4-ip-addr" : The IP address (string)
            "static-ipv4-netmask" : The netmask (string)
            "static-ipv4-gateway" : The gateway (string)
            "static-ipv4-ping-addrs" : Addresses for ping (semicolon separated
                                       list)
    config MANAGER_WANO_PLUGIN_PPPOE
        bool "WANO pppoe plugin"
        default n
        help
            WANO pppoe plug-in for interface configuration via the pppoe
            protocol. Configuration is read from persistant storage.

    config MANAGER_WANO_PLUGIN_VLAN
        bool "WANO VLAN plugin"
        default n
        help
            WANO pppoe plug-in for VLAN interface configuration. The VLAN
            configuration is read from persistent storage.

    config MANAGER_WANO_PLUGIN_ETHCLIENT
        bool "WANO ethernet client detection plugin"
        default y
        help
            WANO plug-in for quick ethernet client-only port detection. This
            plug-in tries to detect clients that are directly connected to the
            ethernet port. If such case is found, all WAN plug-ins on the
            current interface are aborted.

    config MANAGER_WANO_PLUGIN_ETHCLIENT_DHCP_WAIT
        int "Ethernet client wait time in seconds"
        default 5
        depends on MANAGER_WANO_PLUGIN_ETHCLIENT
        help
            This is the timeout in seconds that the plug-in will wait after
            receiving the first DHCP discover packet from a client, after which
            it will consider that an ethernet client was successfully detected.
            If another DHCP message type is received or another client sends a
            DHCP discover message, the timer is aborted.

    config MANAGER_WANO_PLUGIN_ETHCLIENT_DHCP_NUM
        int "Ethernet client DISCOVER packet number"
        default 3
        depends on MANAGER_WANO_PLUGIN_ETHCLIENT
        help
            Number of DISCOVER type packets to be received from a single host
            after which the ethernet client is considered to be successfully
            detected.

            If another DHCP packet type is received, or another host sends any
            type of DHCP packet, this number is ignored.
endif
