menuconfig MANAGER_CELLM
    bool "Cellular Manager (CELLM)"
    default n
    help
        Enable Cellular Manager (CELLM)

    config MANAGER_CELLM_CFG
        depends on MANAGER_CELLM
        string "CELLM Startup configuration"
        default "cellm;true;always_restart=true;restart_delay=-1"
        help
            Cellular Manager startup configuration
